<div class="banner-small banner-orange">
  <h1>
    <%= @track.title %>
  </h1>
  <a href="#" class="btn btn-orange">Mix Records</a>

</div>
<br>

<div class="container pt-3">

  <ul class="nav list-inline tabs-underlined" id="myTab" role="tablist">
    <li>
      <a class="tab-underlined active" id="record-tab" data-toggle="tab" href="#record" role="tab" aria-controls="record" aria-selected="true">Sheets & Recordings</a>
    </li>
    <li>
      <a class="tab-underlined" id="inspire-tab" data-toggle="tab" href="#inspire" role="tab" aria-controls="inspire" aria-selected="false">Inspiration</a>
    </li>
  </ul>


  <div class="tab-content py-4">
    <div class="tab-pane active" id="record" role="tabpanel" aria-labelledby="record-tab">
      <div class="row">
        <div class="col-xs-12 col-md-6 mb-2">
          <%= render 'partitions/index' %>
        </div>
        <div class="col-xs-12 col-md-6 mb-1">
          <%= render 'recordings/index' %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="inspire" role="tabpanel" aria-labelledby="inspire-tab">
      <%= render 'inspirations/index' %>
    </div>
  </div>

  <h5>Comments</h5>
  <div class="container" id="comments" data-track-id="<%= @track.id %>">
    <% @track.comments.each do |comment| %>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  </div>

  <%= simple_form_for([ @track, @comment ], remote: true) do |f| %>
    <%= f.input :content, as: :string, label: false %>
  <% end %>

  <%= render 'shared/modal_add_resource' %>
  <%= render 'shared/modal_add_partition' %>

</div>
