<h5>Comments</h5>

<div class="container">
  <% @track.comments.each do |comment| %>
    <div>
      <strong><%= comment.user.first_name %></strong>
      <em class="text-muted font-weight-light"><%= comment.created_at %></em>
      <br>
      <p class="font-weight-light" id="comment-<%= comment.id %>">
        <%= comment.content %>
      </p>
    </div>
  <% end %>

  <%= simple_form_for [@track, @comment] do |f| %>
    <%= f.input :content, as: :string, label: false %>
  <% end %>


</div>
