<div class="container border rounded py-3">
  <div class="d-flex justify-content-between">
    <h3>Recordings</h3>

    <%= link_to "#recordingModal", class: "btn p-0", "data-toggle" => "modal" do %>
      <%= image_tag "plus.png", class: "btn-add"%>
    <% end %>
  </div>

  <% @track.recordings.each do |recording| %>
    <div class="resource-card grow-resource">
      <%= image_tag "play.png" %>
      <%= link_to track_recordings_path(recording) do %>
        <%= recording.name %>
      <% end %>
      <div class="ml-auto dropdown">
        <%= link_to "Play", track_recordings_path(recording), class: "btn btn-outline-warning btn-sm", :'data-toggle' => 'modal', :'data-target' => '#musicPlayer' %>
      </div>
    </div>
    <div class="modal fade" id="musicPlayer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle">You're listening to <strong class="mark-block"> <%= recording.name %> </strong></h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-audio">
              <audio src="<%= cloudinary_url(recording.resource.key, resource_type: :video)  %>" controls></audio>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>


</div>


