<div id="particles-js"></div>
<div class="banner-home-page d-flex flex-column">
  <div class="container-home-page d-flex flex-column">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-md-6 mt-5">
        <h1><%= t('never_alone') %></h1>
        <p><%= t('.explanation') %></p>
        <%= link_to t('.play_now'), my_bands_path, class: "bubbly-button" %>
      </div>
      <div class="col-lg-6 col-sm-6 col-md -6text-center">
        <div><%= cl_image_tag("voice_m0cqki", width: 300, height: 200, crop: :fill, class: "photo-banner") %></div>
        <div class="guitar"><%= cl_image_tag("guitar_gmvcmd", width: 300, height: 200, crop: :fill, class: "photo-banner") %></div>
      </div>
    </div>
    <div class="text-scroll"><h3 class="text-center"><%= t('.how_it_works') %></h3></div>
    <div class="d-flex justify-content-center">
      <div class="container-scroll">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
      </div>
    </div>
  </div>
</div>


<div class="container-home-page">
  <div class="row section-feature d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-sm-6 col-md-6 mt-5">
      <div><%= cl_image_tag("crew_zjp48v", width: 400, class: "photo-banner") %></div>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6 mt-5">
      <h2 class="text-shadow-orange title-feature"><%= t('.create_team') %></h2>
      <p><%= t('.create_team_expl') %></p>
    </div>
  </div>
  <div class="row section-feature d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-sm-6 col-md-6 mt-5">
      <h2 class="text-shadow-orange title-feature"><%= t('.choose_tracks') %></h2>
      <p><%= t('.choose_tracks_expl') %></p>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6 mt-5">
      <div><%= cl_image_tag("tracks_vivusr", width: 400, class: "photo-banner") %></div>
    </div>
  </div>
  <div class="row section-feature d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-sm-6 col-md-6 mt-5">
      <div><%= cl_image_tag("tabs_tgtr2a", width: 400, class: "photo-banner") %></div>
    </div>
    <div class="col-lg-5 col-sm-6 col-md-6 mt-5">
      <h2 class="text-shadow-orange title-feature"><%= t('.import_sheets') %></h2>
      <p><%= t('.import_sheets_expl') %></p>
    </div>
  </div>
  <div class="row section-feature d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-sm-6 col-md-6 mt-5">
      <h2 class="text-shadow-orange title-feature"><%= t('.record') %></h2>
      <p><%= t('.record_expl') %></p>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6 mt-5">
      <div><%= cl_image_tag("record_n6dt4r", width: 400, class: "photo-banner") %></div>
    </div>
  </div>
  <div class="row section-feature d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-sm-6 col-md-6 mt-5">
      <div><%= cl_image_tag("mix_g9uufn", width: 400, class: "photo-banner") %></div>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6 mt-5">
      <h2 class="text-shadow-orange title-feature"><%= t('.mix_share') %></h2>
      <p><%= t('.mix_share_expl') %></p>
    </div>
  </div>
</div>

<div style="position:relative; height:400px">
  <div class="banner-testimonial-home-page">
    <%= image_tag "rocks-inverse.png", alt: "Rock on hand sign" ,id: "rockshome" %>
    <p class="text-center testimonial"><%= t('.feedback_1') %></p>
    <div class="d-flex justify-content-center"><%= image_tag "emilie.jpg", alt: "emilie", id: "avatar-testimonial" %></div>
    <p class="text-center">Emilie</p>
  </div>
</div>
