<% @band.tracks.each do |track| %>
  <%= link_to track_path(track) do %>
    <div class="card-track my-3 grow shadow-orange">
      <% if track.photo.attached? %>
        <%= cl_image_tag track.photo.key %>
      <% else %>
        <%= image_tag "track_default" %>
      <% end %>
      <div class="card-track-infos flex-grow-1">
        <div class="d-flex justify-content-between">
          <h2><%= track.title %></h2>
          <p class="m-0"><%= track.style %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p><%= track.duration / 60 %>m<%= track.duration % 60 %>s</p>
          <p><%= track.tempo %> bpm</p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
