<div class="banner-small text-center">
  <div class="banner-title-band">
    <h1><%= @band.name %></h1>
    <p><%= @band.description %></p>
  </div>
</div>

<div class ="container pb-5">
  <div class="row">

    <div class="col-lg-8 pr-5">
      <ul class="list-inline">
        <li class="list-inline-item"><h2 class="pt-5 pb-2">Tracks Library</h2></li>
        <li class="list-inline-item"><button type="button" class="btn btn-danger rounded-circle">+</button></li>
      </ul>
      <div>
        <% @track.each do |track| %>
          <div class="card-product my-3">
            <%= cl_image_tag track.photo.key %>
            <div class="card-product-infos">
              <h2><%= track.title %></h2>
              <p><%= track.style %></p>
              <p><%= track.duration %></p>
              <p><%= track.tempo %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-4">
       <ul class="list-inline">
        <li class="list-inline-item"><h2 class="pt-5 pb-2 text-right">Crew</h2></li>
        <li class="list-inline-item"><button type="button" class="btn btn-danger rounded-circle">+</button></li>
      </ul>
      <div>
        <% @user.each do |user| %>
          <ul class='list-inline'>
            <li class="list-inline-item"><%= cl_image_tag user.avatar.key, class:"avatar-large" %></li>
            <li class="list-inline-item"><%= user.first_name %></li>
            <li class="list-inline-item background-instrument-user"><%= user.instrument %></li>
          </ul>
        <% end %>
      </div>
    </div>

  </div>
</div>
