<div class="container border rounded py-3">
  <div class="d-flex justify-content-between">
    <h3 >Sheets and Tabs</h3>
    <%= link_to "#partitionModal", class: "btn btn-plus pr-1", "data-toggle" => "modal" do %>
      <h3><i class="fas fa-plus-circle"></i></h3>
    <% end %>
  </div>

  <% @track.partitions.each do |partition| %>
    <div class="resource-card grow-resource">

      <%= link_to partition_path(partition) do %>
        <div class="d-flex align-items-center">
          <% case partition.instrument.name %>
          <% when "Guitar" %>
            <%= image_tag "icon_acoustic_guitar.svg", class: "resource-card-icon" %>
          <% when "Bass" %>
            <%= image_tag "icon_electric_bass.svg", class: "resource-card-icon" %>
          <% when "Drums" %>
            <%= image_tag "icon_drums.svg", class: "resource-card-icon" %>
          <% when "Vocals" %>
            <%= image_tag "icon_microphone.svg", class: "resource-card-icon" %>
          <% else %>
            <%= image_tag "icon_music.svg", class: "resource-card-icon" %>
          <% end %>

          <p>
            <%= partition.name %>
          </p>
        </div>
      <% end %>

      <div class="d-flex ml-auto align-items-center">
        <div class="icon-display-hover">
          <i class="fas fa-pencil-alt mr-2"></i>
          <i class="far fa-trash-alt mr-3"></i>
        </div>
      </div>

    </div>
  <% end %>
</div>
