<div class="container border rounded py-3">
  <div class="d-flex justify-content-between">
    <h3>Sheets and Tabs</h3>
    <%= link_to "#partitionModal", class: "btn p-0", "data-toggle" => "modal" do %>
      <%= image_tag "plus.png", class: "btn-add"%>
    <% end %>
  </div>

  <% @track.partitions.each do |partition| %>
    <div class="resource-card grow-resource">

      <%= link_to partition_path(partition), class: "", 'data-toggle' => 'modal' do %>
        <div class="d-flex align-items-center">
          <% case partition.instrument.name %>
          <% when "Guitar" %>
            <%= image_tag "icon_acoustic_guitar.svg", class: "resource-card-icon" %>
          <% when "Bass" %>
            <%= image_tag "icon_electric_bass.svg", class: "resource-card-icon" %>
          <% when "Drums" %>
            <%= image_tag "icon_drums.svg", class: "resource-card-icon" %>
          <% when "Guitar" %>
            <%= image_tag "icon_microphone.svg", class: "resource-card-icon" %>
          <% else %>
            <%= image_tag "icon_music.svg", class: "resource-card-icon" %>
          <% end %>

          <p>
            <%= partition.name %>
          </p>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
