<div class="partition-show">
  <div class="banner-small banner-transparent text-center">
    <%= link_to  track_path(@track), class: "btn btn-back" do %>
      <i class="fas fa-fast-backward"></i>
    <% end %>

      <h1 class="text-shadow-orange"><%= @partition.track.title %></h1>

      <%= image_tag "plug.png", alt: "Recording cable" ,id: "plug" %>
  </div>
  <div class="counter">
    <div class="nums">
      <span class="double">1</span>
      <span class="double">2</span>
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
    </div>
  </div>
  <div class="container container-partition">
    <div class="text-center">
      <%= cl_image_tag @partition.resource.key, width: 800 %>
    </div>
  </div>
  <div class= "card-player fixed-bottom d-flex flex-column">
    <div class="card-record mt-4 d-flex flex-column">
      <div class="d-flex flex-row justify-content-center" style="height:60px">
        <button class="btn-record btn-main"><i class="fas fa-record-vinyl"></i></button>
        <button class="btn-stop btn-main button-inactive"><i class="far fa-stop-circle"></i></button>
        <div class="main-controls" data-trackid="<%= @partition.track.id %>" data-partitionid="<%= @partition.id %>" data-userid="<%= current_user.id %>">
            <canvas class="visualizer" height="37px"></canvas>
    <!--         <div id="buttons">
              <button class="record"><i class="fas fa-record-vinyl"></i></button>
              <button class="stop"><i class="fas fa-stop"></i></button>
            </div> -->
        </div>
      </div>
      <div class="card-player-listen d-flex justify-content-center">
        <div class="sound-clips d-flex flex-row">

          <%= simple_form_for [@track, @new_recording] do |f| %>
            <%= f.hidden_field :name, input_html: { :id => "name-field" } %>
            <%= f.hidden_field :resource, as: :file, input_html: { :id => "resource-field" } %>
            <%= f.hidden_field :is_lead, label: 'Lead rhythm track' %>
            <%= f.hidden_field :partition, label_method: :name, value_method: :id, include_blank: false, input_html: { :id => "partition-field" } %>

            <div class="text-center">
              <%= f.button :submit, 'Save', class: "btn-save d-none" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <a class="dropdown-recordings" data-toggle="collapse" data-target="#collapseRecordings" aria-expanded="false" aria-controls="collapseExample">
    Select your recordings buddy <i class="fas fa-angle-down icon-dropdown"></i>
      </a>
      <div class="collapse" id="collapseRecordings">
        <div class="list-recordings">
          <ul class="list-unstyled">
            <li class="text-center"><button class="btn-checkbox btn-checkbox-play"><i class="fas fa-play"></i></button></li>
            <li class="text-center"><button class="btn-checkbox btn-checkbox-pause button-inactive"><i class="fas fa-pause"></i></button></li>
            <% @track.recordings.each do |record| %>
              <li class="text-center">
                <input class="toggle audio checkrecording" type="checkbox" data-recordurl="<%= cloudinary_url(record.resource.key, resource_type: :video) %>" name="recording" id=<%= "recording-#{record.id}" %> >
                </input>
                <label for=<%= "recording-#{record.id}" %> >
                  <%= record.name %>
                </label>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



