<div class="partition-show">
  <div class="banner-small banner-transparent text-center banner-orange">
    <div class="banner-title-band">
      <h1><%= @partition.track.title %></h1>
      <p><%= @partition.instrument %></p>
      <div class="card-buttons-sound d-flex justify-content-center">
        <a class="btn-sound mx-5"><i class="fas fa-play"></i></a>
        <a class="btn-sound mx-5"><i class="fas fa-record-vinyl"></i></a>
        <a class="btn-sound mx-5"><i class="fas fa-stop"></i></i></a>
        <a class="btn-sound mx-5"><i class="fas fa-pause"></i></a>
        <a class="btn-sound mx-5"><i class="fas fa-undo-alt"></i></a>
        <a class="btn-sound mx-5"><i class="fas fa-save"></i></a>
      </div>
      <div>
        <%= simple_form_for [@partition] do |f| %>
          <%= f.association :recording, as: :checkboxe%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="text-center">
      <%= image_tag "tab-pretender.jpg", width: 800 %>
    </div>
  </div>
</div>

