<div id="particles-js"></div>
<div class="banner-small">
  <div class="banner-slanted"></div>
  <%#= image_tag "rocks.png", alt: "Rock on hand sign" ,id: "rocks" %>

  <h1>Welcome back, <%= current_user.first_name %>!</h1>
  <br>
  <h3>What do you want to play?</h3>
</div>
<div class="container mt-5">

<div class="cards">

  <% @bands.each do |band| %>
    <%= link_to band_path(band) do %>
      <div class="card-band shadow-orange">
        <div class="card-band-image" style="background-image: linear-gradient(rgba(232,56,26,0.3),rgba(232,56,26,0.3)), url('<%= cl_image_path band.photo.key, height: 300, width: 400, crop: :fill %>')">
          <span class="badge badge-primary ml-3 mt-2"><%= band.creation_year %></span>
        </div>
        <div class="card-band-infos">
          <div>
            <h2><%= band.name %></h2>
            <p><%= band.description %></p>
          </div>
          <ul class="avatars">
            <% band.users.each do |user| %>
              <li class="avatars_item">
                <%= cl_image_tag user.avatar.key, crop: :thumb, gravity: :face, :effect=>"grayscale", class: "avatar-bordered" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
   <% end %>
  <% end %>

</div>

</div>
